body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  background: #f4f4f4;
}

header {
  background: #333;
  color: white;
  text-align: center;
  max-width: 800px;
  margin: auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.blog-entry {
  background: white;
  margin: 20px auto;
  padding: 15px;
  max-width: 600px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.blog-entry img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.blog-entry h2 {
  margin-top: 0;
}

nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
}

nav button {
  background-color: #5f6d77;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

nav button:hover {
  background-color: #5f6d77;
}

ul {
  list-style-type: disc;
  padding-left: 350px; /* Sangría desde el borde izquierdo */
  text-align: left;
}

li {
  margin-bottom: 10px; /* Espacio entre enlaces */
}

ul {
  margin-bottom: 40px; /* Espacio de ~2 líneas antes del footer */
}


footer {
  margin-top: 40px; /* Espacio de ~2 líneas antes del footer */
  padding: 20px;
  background-color: #f0f0f0;
  text-align: center;
  font-size: 14px;
}

